<div class="booking-details">
    <section class="single-booking-page">
     <h1>Booking details</h1>
     <p>Reference No. <%= @booking.ref_no %></p>
     <p>total: <%= @booking.total %></p>
     <p>status: <%= @booking.status %></p>
    </section>
</div>    